<form action="/buscarFilmes" method="POST">
    Buscar Filmes:<br>
    <input type="text" name="nomeDoFilme" required>
    <br>
    <input type="submit" value="Buscar">
</form>
<a href="/minhaLista">
    Minha lista
</a>
</form>
<a href="/sair">
  Logout
</a>