<div class="cadastrar-container">
    <form action="/criarConta" method="POST">
      <input type="text" placeholder="Usuario" name="nome">
      <input type="password" placeholder="Senha" name="senha">
       <input type="text" placeholder="example@ex.com" name="email">
      <input type="text" placeholder="29/02/2012" name="data_de_nascimento">
      <button type="submit">Cadastrar</button>
      <a href="/login">
      Login
    </a>
    </form>
  </div>