<div class="login-container">
  <form action="/login" method="POST">
    <input type="text" placeholder="E-mail" name="email">
    <input type="password" placeholder="Senha" name="senha">
    <button type="submit">Login</button>
    <a href="/criarConta">
      Cadastrar
    </a>
  </form>
</div>